---
http_interactions:
- request:
    method: get
    uri: https://figpay.transactiongateway.com/api/transact.php?address1=456%20Oak%20Ave&ccexp=1025&ccnumber=<CREDIT_CARD>&city=Los%20Angeles&country=US&currency=USD&customer_vault=add_customer&cvv=<CVV>&email=jane@example.com&first_name=Jane&last_name=Smith&payment=creditcard&phone=555-555-1234&security_key=<NMI_SECURITY_KEY>&state=CA&test_mode=enabled&zip=90001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Volterra-Location:
      - dal3-dal
    body:
      encoding: UTF-8
      string: response=1&responsetext=Customer Added&authcode=&transactionid=&avsresponse=&cvvresponse=&orderid=&type=&response_code=100&customer_vault_id=324097685
  recorded_at: Thu, 20 Nov 2025 23:30:02 GMT
- request:
    method: get
    uri: https://figpay.transactiongateway.com/api/query.php?currency=USD&customer_vault_id=324097685&payment=creditcard&report_type=customer_vault&security_key=<NMI_SECURITY_KEY>&test_mode=enabled
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Volterra-Location:
      - b-dal3-dal
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<nm_response>\n\t<error_response>Query
        API cannot be used with the public \"demo\" account. REFID:625756140</error_response>\n</nm_response>"
  recorded_at: Thu, 20 Nov 2025 23:30:03 GMT
- request:
    method: get
    uri: https://figpay.transactiongateway.com/api/transact.php?currency=USD&customer_vault=delete_customer&customer_vault_id=324097685&payment=creditcard&security_key=<NMI_SECURITY_KEY>&test_mode=enabled
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Volterra-Location:
      - b-dal3-dal
    body:
      encoding: UTF-8
      string: response=1&responsetext=Customer Deleted&authcode=&transactionid=&avsresponse=&cvvresponse=&orderid=&type=&response_code=100
  recorded_at: Thu, 20 Nov 2025 23:30:04 GMT
- request:
    method: get
    uri: https://figpay.transactiongateway.com/api/transact.php?address1=456%20Oak%20Ave&ccexp=1025&ccnumber=<CREDIT_CARD>&city=Los%20Angeles&country=US&currency=USD&customer_vault=add_customer&cvv=<CVV>&email=jane@example.com&first_name=Jane&last_name=Smith&payment=creditcard&phone=555-555-1234&security_key=<NMI_SECURITY_KEY>&state=CA&test_mode=enabled&zip=90001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Volterra-Location:
      - b-dal3-dal
    body:
      encoding: UTF-8
      string: response=1&responsetext=Customer Added&authcode=&transactionid=&avsresponse=&cvvresponse=&orderid=&type=&response_code=100&customer_vault_id=1185152064
  recorded_at: Fri, 21 Nov 2025 05:02:07 GMT
recorded_with: VCR 6.3.1
